@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        overflow: hidden;
    }

    :root {
        @apply bg-silver-950 text-silver-200;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
    }

    .rc-slider-rail {
        @apply bg-silver-700;
    }

    .rc-slider-track {
        @apply bg-amethyst-400/50;
    }

    .rc-slider-handle, .rc-slider-handle:hover {
        @apply opacity-100 border-2 border-amethyst-400 bg-silver-800
            ring-0 !ring-opacity-50 ring-amethyst-400
            transition-shadow duration-300;
    }

    .rc-slider-handle-dragging, .rc-slider-handle:focus-visible, .rc-slider-handle:active {
        @apply !border-amethyst-400 !shadow-none ring-4 ring-amethyst-400;
    }

    .titlebar {
        @apply flex items-center fixed inset-x-0 top-0 h-8 bg-silver-900 pl-5 z-50;
    }

    .titlebar-title {
        @apply text-white text-sm font-medium;
    }

    .titlebar-controls {
        @apply flex ml-auto mr-1;
    }

    .titlebar-controls button {
        @apply flex justify-center items-center w-8 h-8
            fill-none stroke-white stroke-2
            disabled:stroke-silver-600 hover:bg-silver-800 disabled:hover:bg-transparent
            transition-colors duration-150;

        stroke-linecap: round;
        stroke-linejoin: round;
    }
}

.bg-grid {
    background-size: 20px 20px;
    background-image: radial-gradient(#202028 1.25px, transparent 0);
    background-position: -9px -9px;
}
